/* ----------------GLOBAL STYLES-------------- */
:root {
    --menu-top-bg: #333456;
    --menu-top-text: rgb(245, 245, 245);
    --menu-top-hv: #ffc7c7;
    --menu-main-text: #333456;
    --menu-main-hv: #e97878;
    --btn-src: #99d8d0;
    --btn-src-hv: #0fabbc;
    --btn-standard-text: white;
    --footer-text: #593694;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif,Arial;
}

.center {
    text-align: center;
}

.tittle {
    margin: 2rem auto;
    color: var(--menu-top-bg);
}

/* MENU: TOP SECTION */
.menu-top {
    background-color: var(--menu-top-bg);
    color: var(--menu-top-text);
    font-size: .8rem;
}

.menu-top .btn-sm {
    background-color: transparent;
    color: var(--menu-top-text);
}

.menu-top .img-top {
    padding-left: 2rem;
}

.menu-top .link-top {
    color: var(--menu-top-text);
    text-decoration: none;
}
.menu-top .link-top:hover {
    color: var(--menu-top-hv);
}

/* MENU: SEARCH SECTION */
.input-group {
    width: 50% !important;
    padding-top: 2rem;
}

.input-group input {
    font-size: .8rem;
}

.input-group .btn-src {
    width: 4rem;
    background-color: var(--btn-src);
    border-radius: 0 6px 6px 0;
}
.input-group .btn-src:hover {
    background-color: var(--btn-src-hv);
    transition: background-color .5s ease;
}

/* MENU: MAIN SECTION */
.menu-main {
    background-color: var(--menu-main-bg);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.menu-main .sections {
    padding: .8rem;
    text-decoration: none;
}

.menu-main .sections a {
    text-decoration: none;
    margin: 0 4rem;
    color: var(--menu-main-text);
    font-weight: bold;
}
.menu-main .sections a:hover {
    color: var(--menu-main-hv);
}

/* BUTTONS */
.btn:focus,
.btn-sm:focus,
.btn-src:focus,
.btn-standard:focus {
    outline: none;
}

.btn-standard {
    width: 6rem;
    height: 2rem;
    background-color: var(--btn-src);
    border-radius: 6px;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .07rem;
    color: var(--btn-standard-text);
}
.btn-standard:hover {
    background-color: var(--btn-src-hv);
    transition: background-color .5s ease;
}

/* FORM SECTION */
.form-style input, 
.form-style textarea,
.form-style select {
	background-color: var(--menu-top-text);
	box-shadow: 0px 0px 5px #CCC inset;
}

/* Exibição dos dados */
.show {
    margin-top: 5rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(201, 198, 198);
    font-size: .9rem;   
}

/* FOOTER */
footer {
    margin-top: 2rem;
    text-align: center;
}
.footer-text {
    font-size: .9rem;
    color: var(--footer-text);
}


/* -----------------INDEX----------------- */
/* MAIN SECTION */
main.display-5 {
    margin-bottom: 2rem;
}

main.lead {
    text-align: center;
}


/* -----------------PRODUCTS----------------- */
/* CATEGORIES SECTION */
.categories .space {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}

/* PRODUCTS SECTION */
.products {    
    display: flex;
    flex-wrap: wrap; /* quebra linha qd um dos flex itens não puder ser mais compactado*/   
}

.box-product { 
    padding-bottom: 2rem;
    flex-basis: 33%; /* tamanho dos elementos */
}

.box-product img {
    cursor: pointer;
}

.description {    
    font-size: .9rem;
}

.previousvalue {   
    font-size: .9rem;
    text-decoration: line-through;
    display: block;
}

.currentvalue {
    font-size: 1.2rem;
    color: var(--menu-main-hv);
    font-weight: bold;
}


/* -----------------STORES----------------- */
.stores-grid {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas: "a b c"
                         "a d e";
}
.stores-grid h4,
.stores-grid p {
    font-size: clamp(.9rem, 1.1vw, 1.4rem);
}   

#div1 {
    grid-area: a;

}
#div2 {
    grid-area: b;
}
#div3 {
    grid-area: c;
}
#div4 {
    grid-area: d;
}
#div5 {
    grid-area: e;
}

/* -----------------CONTACT----------------- */
.contact {
    padding: 2rem 0;
}